<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @microposts.each do |micropost| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to micropost_path(micropost) do %>
                  <%= attachment_image_tag micropost, :image %>
                <tr>
                  <td>
                <% if current_user.already_favorited?(micropost) %>
                  <%= link_to micropost_favorites_path(micropost), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <%= micropost.favorites.count %>
                <% else %>
                  <%= link_to micropost_favorites_path(micropost), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <%= micropost.favorites.count %>
                <% end %>
                  </td>
                </tr>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag micropost.user, :profile_image, fallback: "default.jpg", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to micropost.user.username, user_path(micropost.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= micropost.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>